* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------------------------------- */
:root {
    --branco: #fff;
    --rosa: #E1AEB3;
    --vinho: #611E01;
    --preto: #150F0B;
    --rosaclaro: #FFE6EF;
}

/* ----------------------------------------- */

@font-face {
    font-family: "inter";
    src: url(./fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);

}

.body {
    font-family: "inter", sans-serif;
}

@font-face {
    font-family: "rosaline";
    src: url(./fonts/Rosaline.otf);

}

.body {
    font-family: "rosaline", sans-serif;
}

body {
    background-color: var(--rosa);
}

.informacao-entrega {
    color: var(--rosa);
    height: 45px;
    width: 100%;
}

.informacao-entrega a {
    font-size: 30px;
    color: var(--vinho);
    margin-left: 1000px;
    font-family: "Rosaline", regular;
}


header {
    width: 100%;
    background-color: var(--branco);
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
    background-color: var(--branco);
}

.container-flex {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
}

#logo {
    width: 250px;
    margin-left:650px;
    /* margin-left: 150px; */
}

.links {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    gap:35px;
}

.links a {
    font-size: 35px;
    color: var(--vinho);
    text-decoration: none;
    font-family: "Rosaline", regular;
}

.links a:hover {
    color: var(--rosa);
    border-bottom: 3px solid var(--preto);
}

#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

/* BANNER */

body {
    margin: 0;
    background: #f8dce7; /* fundo rosa claro */
    font-family: "Georgia", serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.foto-principal {
    width:500px;
    height: 750px;
    overflow: hidden;
    background: #7b1e23; /* vermelho escuro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-foto {
    width: 350px;
    border: 12px solid #7b1e23;
    margin-bottom: 25px;
}

.mini-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    text-align: center;
    font-size: 50px;
    color: #3b060c;
    margin: 10px 0 20px 0;
    line-height: 1.2;
       font-family: "Rosaline", regular;
}

.botao {
    display: inline-block;
    background: #7b1e23;
    color: #fff;
    padding: 10px 35px;
    border-radius: 60px;
    font-size: 50px;
    text-decoration: none;
    transition: 0.3s;
     font-family: "Rosaline", regular;
}

.botao:hover {
    background: #5b0e13;
      font-family: "Rosaline", regular;
      color: var(--branco);
    border-bottom: 6px solid var(--preto);
    background: var(--rosa);
}

/* ------------------------------------------------ */

